@import "tailwindcss";

body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-family: Helvetica;
}

.BgColorMain {
  background-color: #f2f3ee;
}
.BgColorSec {
  background-color: #3d3e39;
}

.TextColorMain {
  color: #3d3e39;
}
